.breadcrumb-container {
    background-color: transparent;
    padding-top: 10px;
    padding-bottom: 10px;
}

.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: transparent;
}

.breadcrumb-item {
    font-size: 0.9rem;
    color: #6c757d;
}

.breadcrumb-item + .breadcrumb-item {
    padding-left: 0.5rem;
}

.breadcrumb-item + .breadcrumb-item::before {
    display: inline-block;
    padding-right: 0.5rem;
    color: #6c757d;
    content: "/";
}

.breadcrumb-item a {
    color: #0e273f;
    text-decoration: none;
    font-weight: 500;
}

.breadcrumb-item a:hover {
    color: #fa4841;
    text-decoration: underline;
}

.breadcrumb-item.active {
    color: #fa4841;
    font-weight: bold;
}
